/* ================= */
/*  IMPORTED FONTS   */
/* ================= */
@import url('https://fonts.googleapis.com/css?family=Barlow:500|Nova+Round|Overpass:300,400|Raleway:300,400&display=swap');

/* ================= */
/*     VARIABLES     */
/* ================= */
:root {
  /* fonts */
  --title-font: 'Barlow';
  --main-font: 'Overpass';
  --accent-font: 'Raleway';
  --header-font: 'Nova Round';
  /* colors */
  --dark-gray: #4d4d4d;
  --light-gray: #DFDDD9;
  --golden: #FFB66B;
  --orange: #E89261;
  --peach: #FF9578;
  --grapefruit: #E86B61;
  --pink: #FF6B91;
  --lime: #ACFF6C;
}

/* ================= */
/*      GENERAL      */
/* ================= */
/* * {
	border: 1px solid gold;
} */
body {
  background: var(--dark-gray);
  font-family: var(--main-font);
  padding: 0;
  margin: 0;
  color: whitesmoke;
  text-align: center;
}

h1 {
    font-family: var(--title-font);
    text-align: center;
    color: whitesmoke;
    font-size: 12vw;
	margin: 0;
}

/* ================= */
/*   MAIN CONTAINER  */
/* ================= */
.main-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0 auto;
}
/* ================= */
/*       Header      */
/* ================= */
header {
    margin: 20px 0 50px 0;
}
/* ================= */
/*       Nav         */
/* ================= */

nav {
margin-bottom: 60px;
align-self: center;
text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

.view-trends {
  width: 100%;
  font-size: 30px;
  padding: 10px;
  text-transform: uppercase;
  color: var(--grapefruit);
  font-family: var(--accent-font);
  margin: 10px auto;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
}
.view-trends:hover {
  color: var(--golden);
  cursor: pointer;
}

.add-trend {
  width: 100%;
  font-size: 30px;
  padding: 10px;
  text-transform: uppercase;
  color: var(--lime);
  font-family: var(--accent-font);
  margin: 10px auto;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
}
.add-trend:hover {
  color: var(--golden);
  cursor: pointer;
}

.arrow {
	font-size: 50px;
	font-weight: bold;
	padding: 5px;
}

/* ================= */
/*       MAIN        */
/* ================= */
main {
  width: 100%;
  min-width: 300px;
}
main > h1 {
  font-family: var(--header-font);
  font-size: 2em;
  color: var(--golden);
  border-bottom: 3px solid var(--grapefruit);
  width: 80%;
  margin: 30px auto;
  text-transform: uppercase;
}

/* ================= */
/*       FORM        */
/* ================= */
form {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}
label {
  text-align: center;
  width: 40%;
  margin: 10px;
  text-align: left;
  text-transform: uppercase;
  font-family: var(--header-font);
  color: var(--golden);
}
input[type="text"], select {
  display: inline-block;
  padding: 10px;
  width: 95%;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  margin-top: 10px;
}

select {
	height: 40px;
	width: 100%;
}

#post-form {
  width: 90%;
}
input[type="submit"] {
  display: block;
  border: 0;
  background: var(--grapefruit);
  color: white;
  font-family: var(--accent-font);
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  width: 40%;
  min-width: 300px;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px auto 0px auto;
}
input[type="submit"]:hover {
  background-color: var(--golden);
  color: var(--dark-gray);
  cursor: pointer;
}

/* ================= */
/*      MAP 	     */
/* ================= */

path {
  pointer-events: all;
}
path:hover {
  opacity: 0.50;
  cursor: pointer;
}

/* ================= */
/*       POSTS       */
/* ================= */

article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 80%;
  padding: 10px;
  box-sizing: border-box;
  background: whitesmoke;
  margin: 30px auto;
  border-radius: 2px;
  box-shadow: -15px -15px var(--lime);
}

article:nth-child(3n+2) {
box-shadow: -15px -15px var(--grapefruit);
}

article:nth-child(3n+3) {
box-shadow: -15px -15px var(--golden);
}


.upvote {
	list-style-type: none;
    padding: 0;
	color: #51ba00;
	cursor: pointer;
	font-family: var(--main-font);
	font-size: 50px;
	width: 15%;
	margin: 10px auto;
}

.downvote {
	list-style-type: none;
    padding: 0;
	color: #cc4d43;
	cursor: pointer;
	font-family: var(--main-font);
	font-size: 50px;
	width: 25%;
	margin: 10px auto;
}

.post-info {
	width: 55%;
}

.location-info {
	width: 15%;

}

.location-info h2 {
	font-family: var(--accent-font);
    font-size: 30px;
    color: var(--dark-gray);
    margin: 5px 10px;
}

.post-name h1 {
  font-family: var(--header-font);
  font-size: 50px;
  color: var(--dark-gray);
  margin: 5px 10px;
}

.post-image img {
	width: 30%;
	padding: 2px;
}

.post-info button {
	display: block;
    border: 0;
    background: var(--grapefruit);
    color: white;
    font-family: var(--accent-font);
    font-weight: 700;
    font-size: 1em;
    text-transform: uppercase;
    width: 30%;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px auto 0px auto;
}

.post-info button:hover {
	background-color: #cc4d43;
    color: var(--dark-gray);
    cursor: pointer;
}
